absl-py==0.7.0
apex==0.1
astor==0.7.1
attrs==19.1.0
audioread==2.1.8
backcall==0.1.0
backports-abc==0.5
beautifulsoup4==4.7.1
bert-pytorch==0.0.1a4
bert-serving-client==1.9.2
bleach==3.1.0
boto==2.49.0
boto3==1.9.102
botocore==1.12.102
Bottleneck==1.2.1
bpemb==0.2.11
bz2file==0.98
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
click==6.7
clldutils==2.8.0
colorlog==4.0.2
configparser==3.7.4
csvw==1.5.5
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dataclasses==0.6
dateparser==0.7.1
decorator==4.3.2
defusedxml==0.5.0
dill==0.2.8.2
docutils==0.14
editdistance==0.3.1
elasticsearch==6.0.0
entrypoints==0.3
et-xmlfile==1.0.1
face-recognition-models==0.3.0
fastai==1.0.46
fastprogress==0.1.20
fasttext==0.8.22
Flask==1.0.3
gast==0.2.2
gensim==3.7.1
graphviz==0.11
grpcio==1.19.0
h5py==2.9.0
humanize==0.5.1
idna==2.6
inflect==2.1.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.2
Jinja2==2.10
jmespath==0.9.4
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kazoo==2.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
librosa==0.5.1
llvmlite==0.29.0
lws==1.2
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.0.2
maya==0.5.0
mistune==0.8.4
mock==2.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.4
notebook==5.7.4
numba==0.44.0
numexpr==2.6.9
numpy==1.14.3
nvidia-ml-py3==7.352.0
openpyxl==2.6.2
packaging==19.0
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.2
pbkdf2==1.3
pbr==5.1.2
pendulum==1.5.1
pexpect==4.6.0
phonemizer==1.0.1
pickleshare==0.7.5
Pillow==5.4.1
pkg-resources==0.0.0
plac==0.9.6
preshed==2.0.1
prometheus-client==0.5.0
prompt-toolkit==2.0.8
protobuf==3.7.1
ptyprocess==0.6.0
py==1.4.34
pybind11==2.2.4
pycparser==2.18
Pygments==2.3.1
pyltp==0.2.1
pymongo==3.9.0
pyparsing==2.3.1
pytest==3.2.3
python-dateutil==2.7.5
pytorch-pretrained-bert==0.6.1
pytz==2018.9
pytzdata==2019.1
PyYAML==3.12
pyzmq==17.1.2
qtconsole==4.4.3
raven==6.9.0
redis==2.10.6
redis-py-cluster==1.3.4
regex==2018.1.10
requests==2.18.4
resampy==0.2.1
rfc3986==1.3.2
s3transfer==0.2.0
scikit-learn==0.20.2
scipy==0.19.0
segments==2.0.1
Send2Trash==1.5.0
sentencepiece==0.1.8
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.8.0
snaptime==0.2.4
SoundFile==0.10.2
soupsieve==1.8
spacy==2.0.18
stevedore==1.30.0
tabulate==0.8.3
tensorboard==1.13.0
tensorboard-logger==0.0.4
tensorboardX==1.6
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
thinc==6.12.1
toolz==0.9.0
torch==1.0.1.post2
torchtext==0.3.1
torchvision==0.2.1
torchviz==0.0.1
tornado==4.5.2
tqdm==4.19.4
traitlets==4.3.2
transducer==0.9
typing==3.6.6
tzlocal==1.5.1
ujson==1.35
Unidecode==0.4.20
uritemplate==3.0.0
urllib3==1.22
utils==0.9.0
virtualenv==16.4.0
virtualenv-clone==0.5.1
virtualenvwrapper==4.8.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==3.4.2
wrapt==1.10.11
xlrd==1.2.0
